.btngreen {
  background-color: #28a745 !important;
  color: white !important;
}
.margintop1 {
  margin-top: 60px;
}
.margintop2 {
  margin-top: 70px;
}

.colorgreen {
  color: #28a745;
}
.img4 {
  margin-left: 80px;
  margin-bottom: 40px;
}
